@model IEnumerable<SelfAssessment.Models.UICity>
@{
    ViewBag.Title = "Index";
}


<div class="content mt-3">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">CITY</strong>

                <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="smallmodalLabel">ADD CITY</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class="form-control-label">Select State </label>
                                        </div>
                                        <div>
                                            <input type="hidden" id="txtId" />
                                        </div>
                                        <div class="col-12 col-md-9">
                                            @Html.DropDownList("StateName", (IEnumerable<SelectListItem>)ViewBag.StateList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">City Name</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="text-input" name="text-input" placeholder="City Name" class="form-control">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">

                                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                                <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="btnPlus" type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#mediumModal" style="float:right; margin-right:15px"> <i class="fa fa-plus-square-o"></i></button>
                &nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" style="float:right;margin-right:3px"> <i class="fa fa-trash-o"></i></button>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><input type="checkbox" name="chk1"></th>
                            <th>State</th>
                            <th>City</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td><input type="checkbox" name="chk1" /></td>
                                <td>@item.StateName</td>
                                <td>@item.CityName</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#mediumModal" onclick="EditAction(@item.Id,'@item.StateName','@item.CityName');"> <i class="fa fa-pencil"></i></button>
                                    &nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" onclick="DoAction(@item.Id);"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- .animated -->
</div><!-- .content -->


<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>
<script src="~/admin/assets/js/main.js"></script>
<script src="~/admin/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();

        $('#btnPlus').click(function () {
            $('#txtId').val('');
        });

        $('#btnSave').click(function () {

            var modle = {};
            var id = $('#txtId').val();           

            if (id != '') {
                model = {
                    StateName: '',
                    CityName: $('#text-input').val(),
                    StateId: $('#StateName').val(),
                    Id: id
                };
            }
            else {
                model = {
                    StateId: $('#StateName').val(),
                    CityName: $('#text-input').val()
                };
            }


            $.ajax({
                type: "POST",
                data: JSON.stringify(model),
                url: API.CitySave(),
                contentType: "application/json"
            }).done(function (res) {
                $('#text-input').val('');
                $('#txtId').val('');
                $('#StateName').val('-- Select --');
                $('#btnCancel').click();
                $('#btnCancel').click();

                location.href = API.CityHome();
            });

        });

    });

    function DoAction(id) {
        var url = API.CityDelete() + id;
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json"
        }).done(function (res) {
            location.href = API.CityHome();
        });
    }

    function EditAction(id, name, subsectorName) {
        $('#txtId').val(id);
        $('#text-input').val(subsectorName);
        //$('#StateName').val(name);

        $('#StateName option').map(function () {
            if ($(this).text() == name) return this;
        }).attr('selected', 'selected');

    }


</script>
