@model WebWindowsCommunication.Models.Wagon

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="form-horizontal">
    <h4>Wagon</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Slno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Slno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Slno, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WagonWeight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WagonWeight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WagonWeight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Direction, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ErrorValue, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ErrorValue, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ErrorValue, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnAdd" type="button" value="Add" class="btn btn-default" />
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="width:35%; height:200px;overflow:scroll">
        <table id="wagon" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Slno)$@Html.DisplayNameFor(model => model.WagonWeight)$@Html.DisplayNameFor(model => model.Direction)$@Html.DisplayNameFor(model => model.ErrorValue)
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
 

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnAdd").click(function () {

                var inputValues = $("#Slno").val() + "$" + $("#WagonWeight").val() + "$" + $("#Direction").val() + "$" + $("#ErrorValue").val();
                var rowData = "<tr><td><input type='text' readonly='readonly' name='sno' value=" + inputValues +" /></td></tr>";
                $("#wagon tbody").append(rowData);
            });
        });
    </script>
}
