@model SelfAssessment.Models.UIOrganization
@{
    ViewBag.Title = "Index";
}

<div class="content mt-3">


    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert" style="display:none">
            <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card col-md-11 no-padding ">
        <div class="card-body">
            <div class="row form-group">

                <div class="col-4 col-md-4"><h2>@Model.Name</h2></div>

                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Email</label></div>
                <div class="col-3 col-md-3"> : <b>@Model.Email</b></div>

                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Desgination</label></div>
                <div class="col-3 col-md-3"><b> : @Model.Designation</b></div>

            </div>

            <div class="row form-group">
                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Address</label></div>
                <div class="col-3 col-md-3"><label for="hf-password" class=" form-control-label"><b> : @Model.Address</b></label></div>

                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Mobile </label></div>
                <div class="col-3 col-md-3"><b> : @Model.MobileNo</b></div>

                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Service</label></div>
                <div class="col-3 col-md-3"><b> : @Model.TypeOfService</b></div>

            </div>

            <div class="row form-group">
                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">City</label></div>
                <div class="col-3 col-md-3"><label for="hf-password" class=" form-control-label"><b> : @Model.City</b></label></div>

                <div class="col col-md-1"><label for="hf-password" class=" form-control-label">State </label></div>
                <div class="col-3 col-md-3"><b> : @Model.State</b></div>
            </div>


            <div>

                <div class="card col-md-3 no-padding " style="display:none">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span class="count">28</span>%
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Total Score</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>

                <div>

                </div>


            </div>
        </div>


        <div class="col-lg-9" style="display:none">
            <div class="card-body">
                <h3>Recent Assessment</h3>
                <HR>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="border:0px">
                        <a href="#"><i class="fa fa-arrow-circle-right"></i>&nbsp; Assessment 1</a>
                    </li>
                    <li class="list-group-item" style="border:0px">
                        <a href="#"><i class="fa fa-arrow-circle-right"></i>&nbsp; Assessment 2 </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>
<script src="~/Admin/assets/js/main.js"></script>


