@model IEnumerable<SelfAssessment.Models.UIAssessment>
@{
    ViewBag.Title = "ListAssessment";
}

<div class="content mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> <strong>Assessment Name</strong> </div>
            <div class="card-body card-block">
                <div class="alert alert-primary" role="alert">
                    @ViewBag.WelComeMessage
                </div>

                <p class="pb-4 display-5 " align="justify">@ViewBag.Description</p>

                @foreach (var assessment in Model)
                {
                    <div class="col-md-4">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-dark">
                                    <div class="media">
                                        @if (assessment.AssignmentStatus == "Completed")
                                        {
                                            <a>
                                                <div class="media-body">
                                                    <h2 class="text-light display-6">@assessment.Type</h2>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href=@ViewBag.Url>
                                                <div class="media-body">
                                                    <h2 class="text-light display-6">@assessment.Type</h2>
                                                </div>
                                            </a>
                                        }

                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-envelope-o"></i> No of Group <span class="badge badge-primary pull-right">@assessment.NoOfGroup</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-envelope-o"></i> No of Questions <span class="badge badge-primary pull-right">@assessment.NoOfQuestion</span></a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#">
                                            <i class="fa fa-tasks"></i> Assessment Status <span class="badge badge-danger pull-right">
                                                <br>
                                                @assessment.AssignmentStatus<br>&nbsp;
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                            </section>
                        </aside>
                    </div>
                }


            </div>
        </div>
        <!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>
<script src="~/Admin/assets/js/main.js"></script>


<script src="~/Admin/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="~/Admin/assets/js/dashboard.js"></script>
<script src="~/Admin/assets/js/widgets.js"></script>

