@model IEnumerable<SelfAssessment.Models.UIAssessment>
@{
    ViewBag.Title = "ListAssessment";
}

<div class="content mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong>@ViewBag.AssessmentName</strong> </div>
            <div class="card-body card-block">
                <div class="alert alert-primary" role="alert">
                    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.WelComeMessage))
                </div>

                <p class="pb-4 display-5 " align="justify">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Description))</p>

                @foreach (var assessment in Model)
                {
                    <div class="col-md-4">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-dark">
                                    <div class="media">
                                        @if (assessment.AssignmentStatus == "Completed")
                                        {
                                            <a>
                                                <div class="media-body">
                                                    <h3 class="text-light">@assessment.Type</h3>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href=@ViewBag.Url>
                                                <div class="media-body">
                                                    <h3 class="text-light">@assessment.Type</h3>
                                                </div>
                                            </a>
                                        }

                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p style="margin-bottom:0px; padding-top:5px;"> <i class="fa fa-envelope-o"></i> No of Group <span class="badge badge-primary pull-right" style="padding:8px;">@assessment.NoOfGroup</span></p>
                                    </li>
                                    <li class="list-group-item">
                                        <p style="margin-bottom:0px;padding-top:5px;"> <i class="fa fa-envelope-o"></i> No of Questions <span class="badge badge-primary pull-right" style="padding:8px;">@assessment.NoOfQuestion</span></p>
                                    </li>


@if (assessment.AssignmentStatus == "Completed")
{
                                    <li class="list-group-item">
                                        <p style="margin-bottom:0px;padding-top:5px;">
                                            <i class="fa fa-tasks"></i> Assessment Status <span class="badge badge-success pull-right" style="padding:8px;">
                                                <br>
                                                @assessment.AssignmentStatus<br>&nbsp;
                                            </span>
                                        </p>
                                    </li>


}
else
{
    <li class="list-group-item">
        <p style="margin-bottom:0px;padding-top:5px;">
            <i class="fa fa-tasks"></i> Assessment Status <span class="badge badge-danger pull-right" style="padding:8px;">
                <br>
                @assessment.AssignmentStatus<br>&nbsp;
            </span>
        </p>
    </li>
    <li class="list-group-item text-right">
        <a href=@ViewBag.Url style="font-size:16px;">
            <span class="badge badge-success">
                <br>Start Assessment<br>&nbsp;
            </span>
        </a>
    </li>
}
                                </ul>

                            </section>
                        </aside>
                    </div>
                }


            </div>
        </div>
        <!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>



<script src="~/Admin/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="~/Admin/assets/js/dashboard.js"></script>
<script src="~/Admin/assets/js/widgets.js"></script>

<script src="~/Admin/assets/js/main.js"></script>

