
@{
    ViewBag.Title = "AssignOrganization";
}

<h2>AssignOrganization</h2>


<div class="content mt-3">

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>ASSIGN ORGANIZATION TO LEVEL</strong>
            </div>

            <div class="card-body card-block">
                @*<form action="" method="post" class="form-horizontal">*@
                    <div class="row form-group">
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Assessment</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("Assessment", (IEnumerable<SelectListItem>)ViewBag.AssessMent, new { @class = "form-control" })
                        </div>

                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Levels</label></div>
                        <div class="col-12 col-md-3">
                            <select id="Type" class="form-control">
                                <option value="0">-Select-</option>
                                <option value="Level 1" selected>Level 1</option>
                                <option value="Level 2">Level 2</option>
                                <option value="Level 3">Level 3</option>
                            </select>
                        </div>
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">State</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.State, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">City</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.City, new { @class = "form-control" })
                        </div>
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Sector</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("Sector", (IEnumerable<SelectListItem>)ViewBag.SectorList, new { @class = "form-control" })
                        </div>
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Sub Sector</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("SubSector", (IEnumerable<SelectListItem>)ViewBag.SubSectorList, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Revenue</label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("Revenue", (IEnumerable<SelectListItem>)ViewBag.Revenue, new { @class = "form-control" })
                        </div>
                        <div class="col col-md-1"><label for="hf-password" class=" form-control-label">Type Of Services </label></div>
                        <div class="col-12 col-md-3">
                            @Html.DropDownList("TypeOfOrg", (IEnumerable<SelectListItem>)ViewBag.Type, new { @class = "form-control" })
                        </div>


                        <div class="col-12 col-md-3">
                            &nbsp;&nbsp;
                            <button id="btnGetOrganization" type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Go
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>

                    </div>
                @*</form>*@
            </div>

        </div>



    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col col-md-9">&nbsp;</div>
                    <div class="col-12 col-md-3">
                        <a href="#" id="btnMoveNextLevel" class="btn btn-primary btn-sm"> Move To Next Level Assessment</a>
                    </div>
                </div>

                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><input type="checkbox" name="chk1"></th>
                            <th>Organization</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Type of Services</th>
                            <th>Sector</th>
                            <th>Sub Sector</th>
                            <th>Revenue</th>
                            <th>Type</th>
                            @*<th>In Level's</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>1</td>
                            <td><input type="checkbox" name="chk1"></td>
                            <td>Name</td>
                            <td>Madurai</td>
                            <td>Tamilnadu</td>
                            <td>Services</td>
                            <td>Sector</td>
                            <td>sub Sector</td>
                            <td>Revenue</td>
                            <td>Type</td>
                            <td>Level 1, Level 2</td>
                        </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Admin/assets/js/popper.min.js"></script>
<script src="~/Admin/assets/js/plugins.js"></script>

<script>

    $("#btnMoveNextLevel").click(function () {

        $("#bootstrap-data-table input[type=checkbox]").each(function (idx, elem) {
            var is_checked = $(this).prop("checked");  
            if (is_checked) {
                var orgId = $(this).prop("id");

                var url = "/ManageAssessment/MoveToNextLevel/" + orgId;
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json"
                }).done(function (result) {
                    location.href = "/ManageAssessment/AssignOrganization";
                });
            }
        });

    });

    $("#btnGetOrganization").click(function () {
        model = {        
            CityId: $('#City').val(),
            StateId: $('#State').val(),
            SectorId: $('#Sector').val(),//txtSector, txtSubSector
            SubSectorId: $('#SubSector').val(),
            RevenueId: $('#Revenue').val(),
            TypeId: $('#TypeOfOrg').val(),
            CurrentAssignmentType: $('#Type').val(),
            AssessmentId: $('#Assessment').val()
        };

        var url = "/ManageAssessment/AssignOrganizationByFilter";               

        $.ajax({
            type: "POST",
            data: JSON.stringify(model),
            url: url,
            contentType: "application/json"
        }).done(function (res) {
            $.each(res, function (key, value) {
                var markup = "<tr><td>" + value.Id + "</td>" + "<td><input id=" + value.Id +" type='checkbox' name='chk1'></td>"+"<td>" + value.Name + "</td><td>" + value.City + "</td><td>" + value.State + "</td><td>" + value.TypeOfService + "</td><td>" + value.Sector + "</td><td>" + value.SubSector + "</td><td>" + value.Revenue +"</td><td>"+ value.Type+"</td>";
                $("#bootstrap-data-table tbody").append(markup);
                //alert(markup);
            });
            
            //alert(res.length);
            //$("#bootstrap-data-table").DataTable({ data: res });
        });

    });
</script>