@model IEnumerable<SelfAssessment.Models.UIAssessment>
    @{
        ViewBag.Title = "ListAssessment";
    }

    <div class="content mt-3">

        <div class="card">
            <div class="card-header">
                <form method="post" action="/ManageAssessment/ListAssessment">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Assessment Name</label>
                        </div>
                        <div class="col-12 col-md-6" id="ddl-AName-input">
                            @Html.DropDownList("Assessment", (IEnumerable<SelectListItem>)ViewBag.AssessMent, new { @class = "form-control" })
                        </div>
                        <div class="col col-md-3">
                            <button id="btnGetOrganization" type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Go
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body card-block">
                @foreach (var assessment in Model)
                {
                    <div class="col-md-4">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-dark">
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-body">
                                                <h2 class="text-light display-6">@assessment.Type</h2>
                                                <!-- <p>Assessment Description 1</p>-->
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-tasks"></i> No Of Participants <span class="badge badge-warning pull-right">@assessment.NoOfParticipants</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-bell-o"></i> No Of Completed <span class="badge badge-success pull-right">@assessment.NoOfCompleted</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-comments-o"></i> No Of Pending <span class="badge badge-danger pull-right r-activity">@assessment.NoOfPending</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-envelope-o"></i> No of Group <span class="badge badge-primary pull-right">@assessment.NoOfGroup</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-envelope-o"></i> No of Questions <span class="badge badge-primary pull-right">@assessment.NoOfQuestion</span></a>
                                    </li>
                                </ul>

                            </section>


                        </aside>
                    </div>
                }
            </div>
        </div>
        <!-- .animated -->
    </div><!-- .content -->




    <script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/plugins.js"></script>
    <script src="~/admin/assets/js/main.js"></script>


    <script src="~/admin/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/admin/assets/js/dashboard.js"></script>
    <script src="~/admin/assets/js/widgets.js"></script>

