@model IEnumerable<SelfAssessment.Models.UISector>
@{
    ViewBag.Title = "Sector";
}

<div>
    <div class="content mt-3">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">SECTOR</strong>

                    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="smallmodalLabel">Add Sector</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label required">Sector Name</label>
                                            </div>
                                            <div>
                                                <input type="hidden" id="txtId" />
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="text-input" placeholder="Sector Name" class="form-control">
                                                <span class="field-validation-valid text-danger" id="text-input_validationMessage"></span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">

                                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                                    <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="btnPlus" type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#mediumModal" style="float:right; margin-right:15px"> <i class="fa fa-plus-square-o"></i></button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" style="float:right;margin-right:3px"> <i class="fa fa-trash-o"></i></button>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><input type="checkbox" name="chk1"></th>
                                <th>Sector </th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrderId</td>
                                    <td><input type="checkbox" name="chk1" /></td>
                                    <td>@item.SectorName</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#mediumModal" onclick="EditAction(@item.Id,'@item.SectorName');"> <i class="fa fa-pencil"></i></button>                                        
                                        &nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" onclick="DoAction(@item.Id);"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<link href="~/admin/assets/css/AddAsterisk.css" rel="stylesheet" />
<script src="~/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/plugins.js"></script>
<script src="~/admin/assets/js/main.js"></script>


<script src="~/admin/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();

        $("#text-input").blur(function () {
            $('#text-input_validationMessage').text("");
        });

        $('#btnPlus').click(function () {
            $('#txtId').val('');
            $('#text-input').val('');
        });

        $('#btnSave').click(function () {

            var modle = {};
            var id = $('#txtId').val();

            if (id != '') {
                model = {
                    SectorName: $('#text-input').val(),
                    Id: id
                };  
            }
            else {
                model = {
                    SectorName: $('#text-input').val()
                };
            }

            if (model.SectorName == '' || model.SectorName.length <= 0) {
                $('#text-input_validationMessage').text("Please Enter the SectorName");
                return false;
            }

            $.ajax({
                type: "POST",
                data: JSON.stringify(model),
                url: API.SectorCreate(),
                contentType: "application/json"
            }).done(function (res) {
                $('#text-input').val('');
                $('#txtId').val('');
                $('#btnCancel').click();
                $('#btnCancel').click();

                location.href = API.SectorHome();

                });
            });
    
    });

    function DoAction(id) {
         var url = API.SectorDelete()+ id;
         $.ajax({
             type: "GET",             
             url: url,
             contentType: "application/json"
         }).done(function (res) {
             location.href = API.SectorHome();
         });
    }

    function EditAction(id,name) {
        $('#txtId').val(id);
        $('#text-input').val(name);
    }
</script>

